{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce website</title>
  </head>
  <body>
    <main>
      <h1 class="d-flex justify-content-center">Home</h1>
      <p class="d-flex justify-content-center">
        Welcome to our ecommerce website developed by - {{ name }}
      </p>
    </main>
    <footer>
      <p>&copy; 2024 Ecommerce website</p>
    </footer>
  </body>
</html>
{% endblock %}
