{% extends "base.html" %} {% block content %}
<h1 class="d-flex justify-content-center">Products</h1>
<br />
<h6 class="d-flex justify-content-center">{{ message }}</h6>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price per Unit</th>
      <th scope="col">Product Stock</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.available }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
